.userForm h2 {
    text-align: center;
}

  .new-user__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
  }

  .new-user__control.invalid label{
    color: red;
  }

  .new-user__control.invalid input{
    background-color: salmon;
  }
  
  .new-user__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .new-user__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
  }
  
  .new-user__action {
    text-align: right;
  }

  .new-user__action button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #778004;
    background-color: #778004;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
  }

  /* DIVIDE */

  .input {
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
  }
  
  .input label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .input input {
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.15rem;
    margin-bottom: 0.5rem;
  }
  
  .input input:focus {
    outline: none;
    border-color: #4f005f;
  }